.lumin-card {
    display: block !important;
}
.chart {
    max-height: 100px !important;
}
.mat-slide-toggle {
    padding-top: 16px;
    padding-bottom: 8px;
    display: inline-block;
    height: 24px;
    max-width: 100%;
    line-height: 24px;
    white-space: nowrap;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.distrubution-scoreboard {
    padding-top: 10px;
}

// .sub-region {
//     padding-left: 10px;
// }

.distrubution-scoreboard mat-form-field {
    display: contents;
    position: relative;
    text-align: left;
}
.padding-top-bottom{
    padding-top: 11px;
    padding-bottom: 11px;
}
.pb-96 {
    padding-bottom: 0px !important;
  }